body {
    background-color: #51C4D3;
    font-family: 'Poppins', sans-serif;
}

#buy {
    background-color: green;
    border: 2px solid black;
    font-size: 18px;
}

#sell {
    background-color: red;
    border: 2px solid black;
    font-size: 18px;
}

table {
    width: 100%;
    text-align: left;
    height: 100%;
}

#logout {
    border-radius: 10px;
    background-color: red;
    border: 2px solid black;
    font-size: 17px;

}

#portfolio {
    border-color: blue;
    border-radius: 10px;
    background-color: deepskyblue;
    border: 2px solid black;
    font-size: 17px;
}
p{
  text-align: left;
  font-size: 20px;
}
