#buy {
    background-color: green;
    border: none;
    font-size: 20px;
}

#sell {
    background-color: red;
    border: none;
    font-size: 20px;
}
table {
    width: 100%;
    text-align: left;
    height: 100%;
}