body {
    margin: 0;
    background-color: #adafaa;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
div.footer{
  background-color: black;
}
.coin {
    cursor: pointer;
    margin: 1% 1% 2%;
    width: 70%;
    height: 65px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    white-space: nowrap;

}

.coin-pair p{
    color: black;
}

.coin .change {
    cursor: auto;
    padding-right: 1%;
    float: right;
    display: block;
}

.coin .price {
    cursor: auto;
    padding-right: 1%;
    float: right;
    display: block;
}

.coin p {
    cursor: auto;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-left: 16px;
    text-decoration: none;
    font-size: 17px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #132C33;
    color: white;
    text-align: center;
}
